html,body{
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
}
a{
  color: gray;
  text-decoration: none;
  display: block;
}
ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
}